<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nofidications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="transparent-header bgColor">
  
  <ion-grid>
    
      <ion-card class=" item-box"> 
        <ion-col col-12 class="store-info">
          <span class="productTitle">Order Purchased</span>
          <span class="offerType commonCls">Vaishali Nagar Jaipur</span><br>
          <span class="minOrder commonCls">From: National Handloom</span>
        </ion-col>
      </ion-card>
      <ion-card class=" item-box"> 
        <ion-col col-12 class="store-info">
          <span class="productTitle">Order Purchased</span>
          <span class="offerType commonCls">Vaishali Nagar Jaipur</span><br>
          <span class="minOrder commonCls">From: National Handloom</span>
        </ion-col>
      </ion-card>
      <ion-card class=" item-box"> 
        <ion-col col-12 class="store-info">
          <span class="productTitle">Order Purchased</span>
          <span class="offerType commonCls">Vaishali Nagar Jaipur</span><br>
          <span class="minOrder commonCls">From: National Handloom</span>
        </ion-col>
      </ion-card>
      <ion-card class=" item-box"> 
        <ion-col col-12 class="store-info">
          <span class="productTitle">Order Purchased</span>
          <span class="offerType commonCls">Vaishali Nagar Jaipur</span><br>
          <span class="minOrder commonCls">From: National Handloom</span>
        </ion-col>
      </ion-card>
      <ion-card class=" item-box"> 
        <ion-col col-12 class="store-info">
          <span class="productTitle">Order Purchased</span>
          <span class="offerType commonCls">Vaishali Nagar Jaipur</span><br>
          <span class="minOrder commonCls">From: National Handloom</span>
        </ion-col>
      </ion-card>
      <ion-card class=" item-box"> 
        <ion-col col-12 class="store-info">
          <span class="productTitle">Order Purchased</span>
          <span class="offerType commonCls">Vaishali Nagar Jaipur</span><br>
          <span class="minOrder commonCls">From: National Handloom</span>
        </ion-col>
      </ion-card>
      <ion-card class=" item-box"> 
        <ion-col col-12 class="store-info">
          <span class="productTitle">Order Purchased</span>
          <span class="offerType commonCls">Vaishali Nagar Jaipur</span><br>
          <span class="minOrder commonCls">From: National Handloom</span>
        </ion-col>
      </ion-card>
      <ion-card class=" item-box"> 
        <ion-col col-12 class="store-info">
          <span class="productTitle">Order Purchased</span>
          <span class="offerType commonCls">Vaishali Nagar Jaipur</span><br>
          <span class="minOrder commonCls">From: National Handloom</span>
        </ion-col>
      </ion-card>
      <ion-card class=" item-box"> 
        <ion-col col-12 class="store-info">
          <span class="productTitle">Order Purchased</span>
          <span class="offerType commonCls">Vaishali Nagar Jaipur</span><br>
          <span class="minOrder commonCls">From: National Handloom</span>
        </ion-col>
      </ion-card>
      
  </ion-grid>

</ion-content>