
ion-item-option {
    background-color: transparent;
}

ion-icon.add-btn {
    border: 1px;
    color: #555;
    border: 1px solid;
    font-size: 17px;
}

ion-list {
    padding: 0px;
}

ion-item.sub-cat {
    float: left;
    border: 1px solid;
    margin: 5px;
    height: 70px;
    border-radius: 3px;
    width: 47%;
}

ion-list.sub-cat-box {
    background-color: #ccc;
}
