ion-col.bottomCol {
    background: #000000;
    border: 1px solid;
    border-radius: 3px;
    color: #ffffff;
    box-shadow: none;
    width: 47%;
    line-height: 2.3;
    text-align: center;
}

ion-col.leftCol {
    color: #000000;
    background: #ffffff;
}