<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="gotoHome()">
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button (click)="gotoCategories()">
          <ion-icon name="list-outline"></ion-icon>
        </ion-tab-button>
        
        <ion-tab-button (click)="gotoSearch()">
          <ion-icon name="search-outline"></ion-icon>
        </ion-tab-button>
        
        <ion-tab-button (click)="gotoOrders()">
          <ion-icon name="cube-outline"></ion-icon>
        </ion-tab-button>
        
        <ion-tab-button (click)="gotoOffers()">
          <ion-icon name="megaphone-outline"></ion-icon>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
