<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Offers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="transparent-header bgColor">
  
  <ion-grid>
    
    <ion-card class="item-box"> 
      <ion-item-sliding>
        <ion-item class="info-box" (click)="gotoOfferDetailPage()">
          <ion-col col-2 class="store-image">
            <img src="assets/images/categories/block1.png" alt="App logo" class="cardColImg">
          </ion-col>
          <ion-col col-10 class="store-info">
            <span class="productTitle">National Handloom</span>
            <span class="offerType commonCls">Vaishali Nagar Jaipur</span><br>
            <span class="minOrder commonCls"> Minimum Order - ₹10</span>
          </ion-col>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="deleteItemFromWishlist()">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
    <ion-card class="item-box"> 
      <ion-item-sliding>
        <ion-item class="info-box" (click)="gotoOfferDetailPage()">
          <ion-col col-2 class="store-image">
            <img src="assets/images/categories/block1.png" alt="App logo" class="cardColImg">
          </ion-col>
          <ion-col col-9 class="store-info">
            <span class="productTitle">National Handloom</span>
            <span class="offerType commonCls">Vaishali Nagar Jaipur</span><br>
            <span class="minOrder commonCls"> Minimum Order - ₹10</span>
          </ion-col>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="deleteItemFromWishlist()">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
    <ion-card class="item-box"> 
      <ion-item-sliding>
        <ion-item class="info-box" (click)="gotoOfferDetailPage()">
          <ion-col col-2 class="store-image">
            <img src="assets/images/categories/block1.png" alt="App logo" class="cardColImg">
          </ion-col>
          <ion-col col-9 class="store-info">
            <span class="productTitle">National Handloom</span>
            <span class="offerType commonCls">Vaishali Nagar Jaipur</span><br>
            <span class="minOrder commonCls"> Minimum Order - ₹10</span>
          </ion-col>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="deleteItemFromWishlist()">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
    <ion-card class="item-box"> 
      <ion-item-sliding>
        <ion-item class="info-box" (click)="gotoOfferDetailPage()">
          <ion-col col-2 class="store-image">
            <img src="assets/images/categories/block1.png" alt="App logo" class="cardColImg">
          </ion-col>
          <ion-col col-9 class="store-info">
            <span class="productTitle">National Handloom</span>
            <span class="offerType commonCls">Vaishali Nagar Jaipur</span><br>
            <span class="minOrder commonCls"> Minimum Order - ₹10</span>
          </ion-col>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="deleteItemFromWishlist()">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
    <ion-card class="item-box"> 
      <ion-item-sliding>
        <ion-item class="info-box" (click)="gotoOfferDetailPage()">
          <ion-col col-2 class="store-image">
            <img src="assets/images/categories/block1.png" alt="App logo" class="cardColImg">
          </ion-col>
          <ion-col col-9 class="store-info">
            <span class="productTitle">National Handloom</span>
            <span class="offerType commonCls">Vaishali Nagar Jaipur</span><br>
            <span class="minOrder commonCls"> Minimum Order - ₹10</span>
          </ion-col>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="deleteItemFromWishlist()">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
    <ion-card class="item-box"> 
      <ion-item-sliding>
        <ion-item class="info-box" (click)="gotoOfferDetailPage()">
          <ion-col col-2 class="store-image">
            <img src="assets/images/categories/block1.png" alt="App logo" class="cardColImg">
          </ion-col>
          <ion-col col-9 class="store-info">
            <span class="productTitle">National Handloom</span>
            <span class="offerType commonCls">Vaishali Nagar Jaipur</span><br>
            <span class="minOrder commonCls"> Minimum Order - ₹10</span>
          </ion-col>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="deleteItemFromWishlist()">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
    <ion-card class="item-box"> 
      <ion-item-sliding>
        <ion-item class="info-box" (click)="gotoOfferDetailPage()">
          <ion-col col-2 class="store-image">
            <img src="assets/images/categories/block1.png" alt="App logo" class="cardColImg">
          </ion-col>
          <ion-col col-9 class="store-info">
            <span class="productTitle">National Handloom</span>
            <span class="offerType commonCls">Vaishali Nagar Jaipur</span><br>
            <span class="minOrder commonCls"> Minimum Order - ₹10</span>
          </ion-col>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="deleteItemFromWishlist()">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>

  </ion-grid>

</ion-content>

<app-tabs></app-tabs>
